name: "Security"

on:
  pull_request:
    types: [opened, synchronize, reopened]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  Security:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v6

      - name: Checkout base branch
        run: |
          git fetch --no-tags --depth=1 origin ${{ github.base_ref }}
          git checkout ${{ github.base_ref }}
          git checkout -

      - uses: actions/cache@v4
        with:
          path: ${{ github.workspace }}/.ddev/.drainpipe-composer-cache
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - uses: ./.github/actions/drainpipe/set-env

      - name: Install and Start DDEV
        uses: ./.github/actions/drainpipe/ddev
        with:
          git-name: Drainpipe Bot
          git-email: no-reply@example.com
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
          ssh-known-hosts: ${{ secrets.SSH_KNOWN_HOSTS }}

      - name: Build Project
        run:  |
          ddev composer install --no-plugins
          ddev composer install

      - name: Run Security Checks
        run: ddev task test:security composer_lock_diff_from=${{ github.base_ref }} composer_lock_diff=composer-lock-diff.md

      - name: Publish Results
        run: |
          COMPOSER_LOCK_DIFF="<!-- composer-lock-diff -->
          ## Composer Lock Diff
          $(cat composer-lock-diff.md)"
          EMPTY=true
          if [ "$(cat composer-lock-diff.md)" != "" ]; then
            echo $COMPOSER_LOCK_DIFF >> $GITHUB_STEP_SUMMARY
            EMPTY=false
          fi
          COMPOSER_LOCK_DIFF=$(echo "$COMPOSER_LOCK_DIFF" | jq -Rsa .)
          FIRST=true
          for i in $(curl -s -L -f -X GET \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" https://api.github.com/repos/${{ github.repository }}/pulls/$DRAINPIPE_PR_NUMBER/comments | jq -rc '.[]|select(.body | contains("<!-- composer-lock-diff -->")) | .id'); do
            if [ "$FIRST" == "true" ] && [ "$EMPTY" == "false" ]; then
              curl -s -L -f -X PATCH \
                --output /dev/null \
                -H "Accept: application/vnd.github+json" \
                -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
                -H "X-GitHub-Api-Version: 2022-11-28" \
                https://api.github.com/repos/${{ github.repository }}/pulls/comments/$i \
                -d "{\"body\":$COMPOSER_LOCK_DIFF}"
            else
              curl -s -L -f -X DELETE \
                -H "Accept: application/vnd.github+json" \
                -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
                -H "X-GitHub-Api-Version: 2022-11-28" \
                https://api.github.com/repos/${{ github.repository }}/pulls/comments/$i
            fi
            if [ "$FIRST" == "true" ]; then
              FIRST=false
            fi
          done
          if [ "$FIRST" == "true" ] && [ "$EMPTY" == "false" ]; then
            curl -s -L -f -X POST \
              --output /dev/null \
              -H "Accept: application/vnd.github+json" \
              -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
              -H "X-GitHub-Api-Version: 2022-11-28" \
              https://api.github.com/repos/${{ github.repository }}/pulls/$DRAINPIPE_PR_NUMBER/comments \
              -d "{\"body\":$COMPOSER_LOCK_DIFF,\"commit_id\":\"$DRAINPIPE_SHA\",\"path\":\"composer.lock\",\"subject_type\":\"file\",\"side\":\"RIGHT\"}"
          fi

  Composer-Audit:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - uses: actions/cache@v4
        with:
          path: ${{ github.workspace }}/.ddev/.drainpipe-composer-cache
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - uses: ./.github/actions/drainpipe/set-env

      - name: Install and Start DDEV
        uses: ./.github/actions/drainpipe/ddev
        with:
          git-name: Drainpipe Bot
          git-email: no-reply@example.com

      - name: Build Project
        run:  |
          ddev composer install --no-plugins
          ddev composer install

      - name: Run composer audit
        run: bash ./vendor/lullabot/drainpipe/scripts/composer-audit.sh

      - name: Post comment
        uses: marocchino/sticky-pull-request-comment@773744901bac0e8cbb5a0dc842800d45e9b2b405
        with:
          header: composer-security-audit
          path: comment.md
