/vendor/
.phpunit.result.cache
tests/fixtures/drainpipe-test-project/*
!tests/fixtures/drainpipe-test-project/composer.json
.php-cs-fixer.cache
/composer.lock

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.npmrc
lerna-debug.log
