.drainpipe_pantheon_setup_terminus:
  script:
    - !reference [.drainpipe_setup_ssh, script]
    - !reference [.drainpipe_setup_git, script]
    - echo -e "Host *.drush.in\n    StrictHostKeyChecking no\n    HostkeyAlgorithms +ssh-rsa\n    PubkeyAcceptedAlgorithms +ssh-rsa" >> ~/.ssh/config
    - mkdir ~/terminus
    - curl -L https://github.com/pantheon-systems/terminus/releases/download/3.0.7/terminus.phar --output ~/terminus/terminus
    - chmod +x ~/terminus/terminus
    - ln -s ~/terminus/terminus /usr/local/bin/terminus
    - terminus auth:login --machine-token="$PANTHEON_TERMINUS_TOKEN"
