version: '3'

tasks:
  composer:development:
    desc: Install composer dependencies
    summary: |
      This command is typically used when a developer updates their local after
      pulling new changes from source control. Generally when bootstrapping a
      fresh clone of the site from git, you'll need to run `composer install`
      anyway to get task and drainpipe.
    cmds:
      - composer install --optimize-autoloader
      sources:
        - composer.json
        - composer.lock
      generates:
        - ./vendor/composer/installed.json
        - ./vendor/autoload.php
      status:
        - >
          test -f ./vendor/composer/installed.json && grep -q '"dev": true' ./vendor/composer/installed.json
  composer:production:
    desc: Install composer dependencies without devDependencies
    cmds:
      - composer install --no-dev --optimize-autoloader
     sources:
       - composer.json
       - composer.lock
     generates:
       - ./vendor/composer/installed.json
       - ./vendor/autoload.php
     status:
       - >
         test -f ./vendor/composer/installed.json && grep -q '"dev": false' ./vendor/composer/installed.json
  install:
    desc: "Runs the site installer"
    cmds:
      - ./vendor/bin/drush --yes site:install --existing-config
  update:
    desc: Run Drupal update tasks after deploying new code
    cmds:
      - ./vendor/bin/drush {{.site}} --yes cache:clear plugin
      - ./vendor/bin/drush {{.site}} --yes updatedb --no-post-updates
      # Run config:import twice to make sure we catch any config that didn't declare
      # a dependency correctly. This is also useful when importing large config sets
      # as it can sometimes hit an out of memory error.
      - ./vendor/bin/drush {{.site}} --yes config:import || true
      - ./vendor/bin/drush {{.site}} --yes config:import
      - ./vendor/bin/drush {{.site}} --yes updatedb --no-cache-clear
      - ./vendor/bin/drush {{.site}} --yes cache:rebuild
  maintenance:on:
    desc: Turn on Maintenance Mode
    cmds:
      - ./vendor/bin/drush {{.site}} --yes state:set system.maintenance_mode 1 --input-format=integer
  maintenance:off:
    desc: Turn off Maintenance Mode
    cmds:
      - ./vendor/bin/drush {{.site}} --yes state:set system.maintenance_mode 0 --input-format=integer
