version: '3'

tasks:
  compile:
    desc: Compiles Sass for custom themes and modules
    summary: |
      Compiles themes/custom/<theme name>/style.scss in custom themes to
      themes/custom/<theme name>/style.css and modules/custom/<module name>/style.scss
      to modules/custom/<module name>/style.css in custom modules.

      Includes modern-normalize, autoprefixer, and cssnano. To customise browser
      support for autoprefixer user "browserslist" in package.json (see
      https://github.com/postcss/autoprefixer#browsers)

      usage: task sass:compile DRAINPIPE_SASS="web/themes/custom/mytheme/style.scss:web/themes/custom/mytheme/style.css web/themes/custom/myothertheme/style.scss:web/themes/custom/myothertheme/style.css"
    cmds:
      - if [ "{{.DRAINPIPE_SASS}}" == "" ]; then echo "Nothing provided for Sass to compile"; exit 1; fi
      - |
        FILES="{{- .DRAINPIPE_SASS | catLines | trim -}}"
        COMMAND="./node_modules/.bin/gulp"
        if [ -f "yarn.lock" ]; then
          COMMAND="yarn gulp"
        fi
        $COMMAND --gulpfile vendor/lullabot/drainpipe/config/gulpfile.js --cwd="./" sass{{- .args}} --files="$FILES"
  watch:
    desc: As compile, but continues running and watching for changes
    deps:
      - task: compile
        vars:
          args: ":watch"
