version: '3'

vars:
  WEBROOT:
    sh: |
      if [ -d "docroot" ] && [ -d "docroot/modules" ] && [ -d "docroot/themes" ] && [ -f "docroot/index.php" ]; then
        echo "docroot"
      else
        echo "web"
      fi
  YAML_DIRS: '{{ default (printf "%s/**/*.yml" .WEBROOT) .YAML_DIRS }}'
  TWIG_DIRS: '{{ default (printf "%s/modules/custom %s/profiles %s/themes/custom" .WEBROOT .WEBROOT .WEBROOT) .TWIG_DIRS }}'
  # These directories are configured in phpcs.xml. However, phpcs will fail if
  # those directories do not exist, so we create them with the assumption that
  # every Drupal site will eventually have these directories.
  TEST_DIRS: '{{ default (printf "%s/modules/custom %s/themes/custom %s/sites" .WEBROOT .WEBROOT .WEBROOT) .TEST_DIRS }}'
  NIGHTWATCH_TEST_DIRS: '{{ default "test" .NIGHTWATCH_TEST_DIRS }}'
  FUNC_ENSURE_DIRS: |
    DIRS_ARR=({{.TEST_DIRS}})
    for DIR in "${DIRS_ARR[@]}"; do
      mkdir -p $DIR
    done

tasks:
  static:
    desc: Runs all static tests
    deps: [lint, phpstan, phpunit:static, phpcs]
    cmds:
      - task: untracked
  functional:
    desc: Runs all tests that require a bootstrapped Drupal site
    deps: [config, phpunit:functional, nightwatch]
    cmds:
      - task: untracked
  security:
    desc: Runs security checks for composer packages and Drupal contrib
    cmds:
      - |
        if [ "{{.format}}" == "junit" ]; then
          composer global config allow-plugins.nedbase/composer-audit-common-report-formats-plugin true
          composer global require nedbase/composer-audit-common-report-formats-plugin
          composer audit:junit
        else
          composer audit
        fi
      - |
        ./vendor/bin/composer-lock-diff --from {{ shellQuote (.composer_lock_diff_from | default "main") }} --md
        if [ "" != {{ shellQuote (.composer_lock_diff | default "") }} ]; then
          ./vendor/bin/composer-lock-diff --from {{ shellQuote (.composer_lock_diff_from | default "main") }} --md > {{ shellQuote (.composer_lock_diff | default "") }}
        fi
  lint:
    desc: Runs lint on composer, YAML, and Twig files
    # @todo JUnit output
    cmds:
      - composer validate
      - |
        DIRS_ARR=({{.YAML_DIRS}})
        for DIR in "${DIRS_ARR[@]}"; do
          ./vendor/bin/yaml-lint --parse-tags $DIR
        done
      - |
        DIRS_ARR=({{.TWIG_DIRS}})
        for DIR in "${DIRS_ARR[@]}"; do
          if [ "{{.format}}" == "junit" ]; then
            ./vendor/bin/twig-cs-fixer lint $DIR --report junit > test_result/twig-cs-fixer.xml
          else
            ./vendor/bin/twig-cs-fixer lint $DIR
          fi
        done
      - |
        if [ -f ".prettierrc.json" ] && [ -f "yarn.lock" ]; then
          yarn prettier --check --cache-location=.prettiercache .
        elif [ -f ".prettierrc.json" ] && [ -f "package-lock.json" ]; then
          npm run prettier --check .
        fi
      - |
        if [ -f ".stylelintrc.json" ] && [ -f "yarn.lock" ]; then
          yarn stylelint "**/*.{css,scss,sass}"
        elif [ -f ".stylelintrc.json" ] && [ -f "package-lock.json" ]; then
          npm run stylelint "**/*.{css,scss,sass}"
        fi
      - |
        if [ -f ".eslintrc.json" ] && [ -f "yarn.lock" ]; then
          yarn eslint .
        elif [ -f ".eslintrc.json" ] && [ -f "package-lock.json" ]; then
          npm run eslint .
        fi
  config:
    desc: "Verifies that exported config matches the config in Drupal. Run with format=short to skip showing the full table of diffs."
    # @todo JUnit output
    cmds:
      - |
        if [ $(./vendor/bin/drush config:status --format=string | wc -w) -gt 0 ]; then
          echo "Config export does not match"
          if [ "{{.format}}" != "short" ]; then
            ./vendor/bin/drush config:status
          fi
          exit 1
        fi
  phpstan:
    dec: Runs PHPStan with mglaman/phpstan-drupal
    cmds:
      - |
        {{ .FUNC_ENSURE_DIRS }}
      - |
        if [ "{{.format}}" == "junit" ]; then
          mkdir -p test_result
          ./vendor/bin/phpstan analyse --error-format=junit {{.TEST_DIRS}} > test_result/phpstan.xml
        else
          ./vendor/bin/phpstan analyse {{.TEST_DIRS}}
        fi
  phpunit:
    desc: Runs PHPUnit
    deps: [phpunit:static, phpunit:functional]
  phpunit:static:
    desc: Runs PHPUnit unit tests
    cmds:
      - |
        CONFIG="$(pwd)/phpunit.xml"
        if [ "{{.DRUPAL_TEST_TRAITS}}" == "true" ]; then
          CONFIG="$(pwd)/phpunit-testtraits.xml"
        fi
        if [ "{{.format}}" == "junit" ]; then
          mkdir -p test_result/phpunit
          CONFIG="$CONFIG --log-junit $(pwd)/test_result/phpunit.xml"
        fi
        ./vendor/bin/phpunit -c $CONFIG --testsuite=unit
  phpunit:functional:
    desc: Runs PHPUnit functional tests
    cmds:
      - |
        CONFIG="$(pwd)/phpunit.xml"
        if [ "{{.DRUPAL_TEST_TRAITS}}" == "true" ]; then
          CONFIG="$(pwd)/phpunit-testtraits.xml"
        fi
        if [ "{{.format}}" == "junit" ]; then
          mkdir -p test_result/phpunit
          CONFIG="$CONFIG --log-junit $(pwd)/test_result/phpunit-functional.xml"
        fi
        PHPUNIT_VERSION=$(./vendor/bin/phpunit --version | grep -Po 'PHPUnit [0-9]+\.' | grep -Po '[0-9]+')
        if [ "$PHPUNIT_VERSION" == "9" ]; then
          ./vendor/bin/phpunit -c $CONFIG --testsuite=kernel,functional,functional-javascript,existing-site,existing-site-javascript
        else
          ./vendor/bin/phpunit -c $CONFIG --exclude-testsuite=unit
        fi
  phpcs:
    desc: Runs PHPCS with Drupal Coding Standards
    summary: |
      Check your code against Drupal's coding standards. To override the default
      ruleset, create a phpcs.xml file and extend phpcs.xml.dist
    cmds:
      - |
        {{ .FUNC_ENSURE_DIRS }}
        if [ "{{.format}}" == "junit" ]; then
          mkdir -p test_result
          ./vendor/bin/phpcs --report=junit -q > test_result/phpcs.xml
        else
          ./vendor/bin/phpcs
        fi
  autofix:
    desc: Runs PHPCBF with Drupal Coding Standards to fix PHPCS violations
    cmds:
      - |
        {{ .FUNC_ENSURE_DIRS }}
      - ./vendor/bin/phpcbf
      - |
        if [ -f ".prettierrc.json" ] && [ -f "yarn.lock" ]; then
          yarn prettier --write --cache-location=.prettiercache .
        elif [ -f ".prettierrc.json" ] && [ -f "package-lock.json" ]; then
          npm run prettier --write .
        fi
      - |
        if [ -f ".stylelintrc.json" ] && [ -f "yarn.lock" ]; then
          yarn stylelint "**/*.{css,scss,sass}" --fix
        elif [ -f ".stylelintrc.json" ] && [ -f "package-lock.json" ]; then
          npm run stylelint "**/*.{css,scss,sass}" --fix
        fi
      - |
        DIRS_ARR=({{.TWIG_DIRS}})
        for DIR in "${DIRS_ARR[@]}"; do
          ./vendor/bin/twig-cs-fixer lint --fix $DIR
        done
  untracked:
    desc: Checks for any untracked files in git
    cmds:
      - |
        # Ignore the .ddev folder as changes are made to this in order to run tests e.g. adding environment variables.
        if [ "$(git status -s --ignore-submodules=dirty -- ':!.ddev')" != "" ]; then
          git status -s --ignore-submodules=dirty -- ':!.ddev'
          echo "Untracked changes detected - please rectify or add the files to your .gitignore"
          exit 1
        fi
  nightwatch:check:
    #desc: Verifies Nightwatch is setup correctly
    cmds:
      - |
        if [ ! -f "package.json" ]; then
          echo "No package.json exists, please run test:nightwatch:setup"
        fi
      - |
        if [ "$IS_DDEV_PROJECT" == "true" ]; then
          DATABASE_FIREFOX="CREATE DATABASE IF NOT EXISTS firefox";
          DATABASE_CHROME="CREATE DATABASE IF NOT EXISTS chrome";
          if ! grep -q "$DATABASE_FIREFOX" .ddev/config.yaml; then
            echo "No Firefox container found, please run test:nightwatch:setup"
            exit 1
          fi
          if ! grep -q "$DATABASE_CHROME" .ddev/config.yaml; then
            echo "No Chrome container found, please run test:nightwatch:setup"
            exit 1
          fi
        fi
      - |
        if [ "$IS_DDEV_PROJECT" == "true" ]; then
          HOST_FIREFOX="NIGHTWATCH_DRUPAL_URL_FIREFOX="
          HOST_CHROME="NIGHTWATCH_DRUPAL_URL_CHROME="
          if ! grep -q "$HOST_FIREFOX" .ddev/config.yaml; then
            echo "No Firefox hostname found, please run test:nightwatch:setup"
            exit 1
          fi
          if ! grep -q "$HOST_CHROME" .ddev/config.yaml; then
            echo "No Chrome hostname found, please run test:nightwatch:setup"
            exit 1
          fi
        fi
      - echo "Nightwatch appears to be setup correctly"
  nightwatch:setup:
    desc: Sets up Nightwatch
    interactive: true
    cmds:
      - |
        PACKAGES="nightwatch nightwatch-axe-verbose @nightwatch/vrt @lullabot/nightwatch-drupal-commands"
        if [ ! -f "package.json" ]; then
          echo -n "No package.json exists, would you like to use yarn1, npm, yarn3 (node <= 20), or yarn (node >= 21)? "
          read -r PACKAGE_MANAGER
          if [ "$PACKAGE_MANAGER" == "npm" ]; then
            if [ "$IS_DDEV_PROJECT" == "true" ]; then
              sudo npm update -g
            fi
            npm init -y
            npm install $PACKAGES lodash --save-dev
          elif [ "$PACKAGE_MANAGER" == "yarn1" ]; then
            yarn set version classic
            yarn init -y
            yarn add $PACKAGES lodash --dev
          elif [ "$PACKAGE_MANAGER" == "yarn3" ]; then
            yarn set version berry
            yarn set version 3
            yarn init
            echo "packageExtensions:" >> .yarnrc.yml
            echo '  "nightwatch@*":' >> .yarnrc.yml
            echo '    dependencies:' >> .yarnrc.yml
            echo '      ws: "*"' >> .yarnrc.yml
            echo '  "@nightwatch/vrt@*":' >> .yarnrc.yml
            echo '    dependencies:' >> .yarnrc.yml
            echo '      open: "^8"' >> .yarnrc.yml
            yarn add $PACKAGES --dev
          elif [ "$PACKAGE_MANAGER" == "yarn" ]; then
            yarn set version berry
            yarn init
            echo "packageExtensions:" >> .yarnrc.yml
            echo '  "nightwatch@*":' >> .yarnrc.yml
            echo '    dependencies:' >> .yarnrc.yml
            echo '      ws: "*"' >> .yarnrc.yml
            echo '  "@nightwatch/vrt@*":' >> .yarnrc.yml
            echo '    dependencies:' >> .yarnrc.yml
            echo '      open: "^8"' >> .yarnrc.yml
            yarn cache clear
            yarn add $PACKAGES --dev
          else
            echo "Sorry I'm not aware of that package manager. Please first init package.json with it yourself manually."
          fi
        else
          if [ -f "package-lock.json" ]; then
            npm install $PACKAGES lodash --save-dev
          elif [ -f "yarn.lock" ]; then
            yarn add $PACKAGES lodash --dev
          else
            echo "package.json found but unable to figure out which package manager is in use"
            echo "Please manually install $PACKAGES"
            exit 1;
          fi
        fi

        if [ "$IS_DDEV_PROJECT" == "true" ]; then
          echo 'Add the following to post-start hooks to .ddev/config.yaml:';
          echo ""
          echo "hooks:";
          echo "  post-start:";
          echo "    - exec: mysql -uroot -proot -hdb -e \"CREATE DATABASE IF NOT EXISTS firefox; GRANT ALL ON firefox.* TO 'db'@'%';\"";
          echo "    - exec: mysql -uroot -proot -hdb -e \"CREATE DATABASE IF NOT EXISTS chrome; GRANT ALL ON chrome.* TO 'db'@'%';\"";
          echo ""
          echo "------"
          echo ""
          echo "Then run:"
          echo ""
          echo "ddev config --web-environment=\"NIGHTWATCH_DRUPAL_URL_FIREFOX=https://drupal_firefox,NIGHTWATCH_DRUPAL_URL_CHROME=https://drupal_chrome\""
          echo "ddev config --additional-hostnames=\"*.$DDEV_SITENAME\""
          echo "ddev restart"
        fi
  siteinstall:default:
    desc: "Runs the site installer for the default site"
    cmds:
      - ./vendor/bin/drush --yes site:install --existing-config
  siteinstall:firefox:
    desc: "Runs the site installer for the Firefox container"
    cmds:
      - ./vendor/bin/drush --uri=https://drupal_firefox --yes site:install --existing-config
  siteinstall:chrome:
    desc: "Runs the site installer for the Chrome container"
    cmds:
      - ./vendor/bin/drush --uri=https://drupal_chrome --yes site:install --existing-config
  siteinstall:all:
    desc: "Runs the site installer for the default site, Chrome, and Firefox container"
    deps: [ siteinstall:default, siteinstall:firefox, siteinstall:chrome ]
    cmds:
      - echo "Default, Chrome, and Firefox installed"
  nightwatch:siteinstall:firefox:
    desc: "Runs the site installer for the Firefox container"
    cmds:
      - ./vendor/bin/drush --uri=https://drupal_firefox --yes site:install --existing-config
  nightwatch:siteinstall:chrome:
    desc: "Runs the site installer for the Chrome container"
    cmds:
      - ./vendor/bin/drush --uri=https://drupal_chrome --yes site:install --existing-config
  nightwatch:siteinstall:
    desc: "Runs the site installer for the Firefox and Chrome containers"
    deps: [nightwatch:siteinstall:firefox, nightwatch:siteinstall:chrome]
  nightwatch:
    desc: Runs Nighwatch functional browser tests
    deps: [nightwatch:check]
    env:
      NIGHTWATCH_ENV: 'firefox,chrome'
    cmds:
      - defer: { task: _nightwatch:vrt-report }
      - rm -rf test_result/nightwatch*
      - |
        if [ -f "package-lock.json" ]; then
          npx nightwatch --env $NIGHTWATCH_ENV {{.CLI_ARGS}}
        elif [ -f "yarn.lock" ]; then
          yarn nightwatch --env $NIGHTWATCH_ENV {{.CLI_ARGS}}
        else
          echo "Unable to figure out which package manager is in use"
          exit 1;
        fi
  _nightwatch:vrt-report:
    desc: "Moves the VRT report into the test_results folder"
    cmds:
      - |
        if [ -d "vrt-report" ]; then
          mkdir -p test_result
          mv vrt-report test_result/nightwatch-vrt-report
          cp -R test/nightwatch/vrt test_result/nightwatch-vrt-report
          mkdir -p test_result/nightwatch-vrt-report/test/nightwatch
          mv test_result/nightwatch-vrt-report/vrt test_result/nightwatch-vrt-report/test/nightwatch
          sed -i 's/\/test\/nightwatch\/vrt\//test\/nightwatch\/vrt\//g' test_result/nightwatch-vrt-report/index.html
          echo "Nightwatch VTR report moved to test_result/nightwatch-vrt-report"
        fi
