includes:
    - ../../../mglaman/phpstan-drupal/extension.neon
    - ../../../phpstan/phpstan-deprecation-rules/rules.neon

parameters:
    ignoreErrors:
        # new static() is a best practice in Drupal, so we cannot fix that.
        - "#^Unsafe usage of new static#"
    excludePaths:
        - *sites/simpletest/*
        - *default.settings.php
        - *sites/*/files/*
        - *settings.ddev.php
        - */node_modules/*
    # PHPStan Level 1
    level: 1
