includes:
    - ../../../mglaman/phpstan-drupal/extension.neon

parameters:
    excludes_analyse:
        - *sites/simpletest/*
        - *default.settings.php
        - *sites/*/files/*
        - *settings.ddev.php
    # PHPStan Level 1
    level: 1
