includes:
	- ../../../mglaman/phpstan-drupal/extension.neon

parameters:
	# Ignore tests
	excludes_analyse:
		- *Test.php
		- *TestBase.php
		- *default.settings.php
		- sites/*/files/*
		- sites/default/settings.ddev.php
	# PHPStan Level 1
	level: 1
