<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="{% DOCROOT %}/core/tests/bootstrap.php"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="true"
         failOnWarning="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         cacheResult="false"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd">
  <php>
    <!-- Set error reporting to E_ALL. -->
    <ini name="error_reporting" value="32767"/>
    <!-- Don't fail on deprecation notices -->
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[total]=999999&amp;verbose=1" />
    <!-- Do not limit the amount of memory tests take to run. -->
    <ini name="memory_limit" value="-1"/>
    <!-- Example SIMPLETEST_BASE_URL value: http://localhost -->
    <env name="SIMPLETEST_BASE_URL" value="http://web"/>
    <!-- Example SIMPLETEST_DB value: mysql://username:password@localhost/databasename#table_prefix -->
    <env name="SIMPLETEST_DB" value="mysql://db:db@db/db"/>
    <!-- Example BROWSERTEST_OUTPUT_DIRECTORY value: /path/to/webroot/sites/simpletest/browser_output -->
    <env name="BROWSERTEST_OUTPUT_DIRECTORY" value="test_result/phpunit"/>
    <!-- To have browsertest output use an alternative base URL. For example if
     SIMPLETEST_BASE_URL is an internal DDEV URL, you can set this to the
     external DDev URL so you can follow the links directly.
    -->
    <env name="BROWSERTEST_OUTPUT_BASE_URL" value=""/>
    <!-- Example for changing the driver args to webdriver tests MINK_DRIVER_ARGS_WEBDRIVER value: '["chrome", { "chromeOptions": { "w3c": false } }, "http://localhost:4444/wd/hub"]' For using the Firefox browser, replace "chrome" with "firefox" -->
    <env name="MINK_DRIVER_ARGS_WEBDRIVER" value='["chrome", {"browserName":"chrome","goog:chromeOptions":{"w3c": true, "args":["---no-sandbox","--ignore-certificate-errors", "--allow-insecure-localhost", "--disable-dev-shm-usage", "--dns-prefetch-disable"]}}, "http://chrome:4444"]'/>
  </php>
  <extensions>
    <!-- Functional tests HTML output logging. -->
    <bootstrap class="Drupal\TestTools\Extension\HtmlLogging\HtmlOutputLogger">
      <!-- The directory where the browser output will be stored. If a relative
        path is specified, it will be relative to the current working directory
        of the process running the PHPUnit CLI. In CI environments, this can be
        overridden by the value set for the "BROWSERTEST_OUTPUT_DIRECTORY"
        environment variable.
      -->
      <parameter name="outputDirectory" value="test_result/phpunit"/>
      <!-- By default browser tests print the individual links in the test run
        report. To avoid overcrowding the output in CI environments, you can
        set the "verbose" parameter or the "BROWSERTEST_OUTPUT_VERBOSE"
        environment variable to "false". In GitLabCI, the output is saved
        anyway as an artifact that can be browsed or downloaded from Gitlab.
      -->
      <parameter name="verbose" value="true"/>
    </bootstrap>
  </extensions>
  <testsuites>
    <testsuite name="unit">
      <directory>{% DOCROOT %}/modules/custom/*/tests/src/Unit</directory>
      <directory>{% DOCROOT %}/modules/custom/*/*/tests/src/Unit</directory>
      <directory>{% DOCROOT %}/modules/custom/*/modules/*/tests/src/Unit</directory>
      <directory>test/phpunit/*/Unit</directory>
    </testsuite>
    <testsuite name="kernel">
      <directory>{% DOCROOT %}/modules/custom/*/tests/src/Kernel</directory>
      <directory>{% DOCROOT %}/modules/custom/*/*/tests/src/Kernel</directory>
      <directory>{% DOCROOT %}/modules/custom/*/modules/*/tests/src/Kernel</directory>
      <directory>test/phpunit/*/Kernel</directory>
    </testsuite>
    <testsuite name="functional">
      <directory>{% DOCROOT %}/modules/custom/*/tests/src/Functional</directory>
      <directory>{% DOCROOT %}/modules/custom/*/*/tests/src/Functional</directory>
      <directory>{% DOCROOT %}/modules/custom/*/modules/*/tests/src/Functional</directory>
      <directory>test/phpunit/*/Functional</directory>
    </testsuite>
    <testsuite name="functional-javascript">
      <directory>{% DOCROOT %}/modules/custom/*/tests/src/FunctionalJavaScript</directory>
      <directory>{% DOCROOT %}/modules/custom/*/*/tests/src/FunctionalJavaScript</directory>
      <directory>{% DOCROOT %}/modules/custom/*/modules/*/tests/src/FunctionalJavaScript</directory>
      <directory>test/phpunit/*/FunctionalJavaScript</directory>
    </testsuite>
  </testsuites>
</phpunit>
