name: Validate example Taskfile.yml
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  Validate-Example-Taskfile:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'

      - name: Validate Taskfile.yml
        run: |
          curl -sL https://taskfile.dev/install.sh | sh -s -- -d $(cat .taskfile) -b /usr/local/bin
          curl -O https://raw.githubusercontent.com/go-task/task/$(cat .taskfile)/website/src/public/schema.json
          npx ajv-cli validate -s schema.json -d scaffold/Taskfile.yml
